<h1>Welcome to Locatable</h1>

<h3> What is Locatable?</h3>
<p>
  <ul>
    <li>A web-based application that allows the user to send their location to their emergency contacts and this sends an SMS and email notification.</li>
  </ul>
</p>
<h3>How to join Locatable?</h3>
<p>
  It is very simple please make an account on with us! Click on the Account icon on the navbar, and start from there.
  After that you will be asked to share some more of your personal information, emerengcy contact information and access to your location
  Once the inital set up is done, you are now ready to use our app Locatable!
</p>

<%# <%= render 'mvc' %>
<hr>
