
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You got a new alert from <%= "TEST" %>!</p>
    <p>
    Alert details<br>
    --------------------------
    </p>
    <p>Name: <%= "TEST" %></p>
    <p>
    Message:<br>
    ----------
    </p>
    <%#p><%= @alert.message %>
    <p><%= "THIS IS A TEST" %></p>
    <p>
  </body>
</html>